 body{
    background-color:rgb(209, 126, 126);
    text-align:center;
 }
 h1{
    font-style:italic;
    color:black (214,59,150);
    
 }

 h2 {
   color:black;
   font-syle: italic;

 }
.imagem {
   width: 50%;
}